<main class="my-3">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2><%= title 'Login' %></h2>

      <%= form_tag session_path, class: 'mt-4' do |f| -%>
        <div class="form-group">
          <%= label :access_token, Mailbox.human_attribute_name(:access_token), class: 'sr-only' %>
          <%= text_field_tag :access_token, nil, placeholder: Mailbox.human_attribute_name(:access_token), class: 'form-control', autocomplete: :off, required: true %>
        </div>
        <div class="actions">
          <%= submit_tag 'Login', class: 'btn btn-primary' %>
        </div>
      <% end -%>
      <%= render 'layouts/partials/mailbox_shared_links' %>
    </div>
  </div>
</main>