<main class="my-3">
  <h2><%= title t('app.title') %></h2>
  
  <p>Set your form <code>action</code> to</p>

  <p>
    <input type="text" value="<%= messages_url %>" class="form-control" readonly onClick="this.select();">
  </p>

  <p>Then set the following parameters/input to your form:</p>

  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Param</th>
        <th>Required</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>api_key</code></td>
        <td>required</td>
        <td>Your mailbox identification. You can <%= link_to 'find your API Key here', mailbox_path, target: '_blank' %>.</td>
      </tr>
      <tr>
        <td><code>redirect_to</code></td>
        <td class="text-secondary">optional</td>
        <td>Redirect URL after form submission. Default to referer.</td>
      </tr>
      <tr>
        <td><code>subject</code></td>
        <td class="text-secondary">optional</td>
        <td>Email notification subject.</td>
      </tr>
    </tbody>
  </table>
  
  <h2>Demo</h2>
  <form action="<%= messages_url %>" method="post">
    <div class="form-group">
      <label for="api_key" class="sr-only">api_key (required)</label>
      <input type="text" name="api_key" placeholder="API Key" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="redirect_to" class="sr-only">redirect_to (url, leave blank to redirect back to this page)</label>
      <input type="text" name="redirect_to" placeholder="Redirect URL" class="form-control" value="<%= root_url %>">
    </div>
    <div class="form-group">
      <label for="subject" class="sr-only">subject (optional)</label>
      <input type="text" name="subject" placeholder="Subject" class="form-control" value="<%= t('email.subject') %>">
    </div>
    <div class="form-group">
      <label for="email" class="sr-only">Email</label>
      <input type="email" name="email" placeholder="Email" class="form-control" value="email@example.com">
    </div>
    <div class="form-group">
      <label for="name" class="sr-only">Name</label>
      <input type="text" name="name" placeholder="Name" class="form-control" value="Random name">
    </div>
    <div class="form-group">
      <label for="message" class="sr-only">Message</label>
      <textarea name="message" id="message" placeholder="Message" class="form-control">This life is a test: it is only a test. If it had been an actual life, you would have received further instructions on where to go and what to do.</textarea>
    </div>

    <div class="actions">
      <input type="submit" value="Test Form" class="btn btn-warning">
    </div>
  </form>
</main>
