<main class="my-3">
  <% unless @mailbox.confirmed? %>
    <div class="alert alert-warning mt-3" role="alert">
      Confirm your email to receive email notifications.
      <%= link_to 'Resend confirmation email', confirmation_resend_path, method: :post %>
    </div>
  <% end %>
  <%= yield %>

  <p>
    <%= link_to 'Messages', mailbox_messages_path(mailbox_id: :current), class: 'btn btn-primary' %>
    <%= link_to 'Whitelists', mailbox_whitelists_path(mailbox_id: :current), class: 'btn btn-primary' %>
  </p>

  <h2><%= title 'Mailbox' %></h2>

  <p>
    <strong><%= Mailbox.human_attribute_name :email %></strong>
    <br>
    <code><%= @mailbox.email %></code>
  </p>
  <p>
    <strong><%= Mailbox.human_attribute_name :api_key %></strong>
    <br>
    <input type="text" value="<%= @mailbox.api_key %>" onclick="this.select();" class="form-control" readonly>
    <%= link_to 'Reset', reset_api_key_path, method: :post, class: 'btn btn-warning btn-sm my-1', data: { confirm: "Any forms using this #{Mailbox.human_attribute_name(:api_key)} will be invalid. Continue reset #{Mailbox.human_attribute_name(:api_key)}?" } %>
  </p>

  <div class="mt-5">
    <p>
      <a class="btn btn-light btn-sm" data-toggle="collapse" href="#deleteMailbox" aria-expanded="false" aria-controls="deleteMailbox">
        Advanced
      </a>
    </p>
    <div class="collapse" id="deleteMailbox">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Terminate all other active sessions.</p>
          <%= link_to 'Reset', reset_access_token_path, method: :post, class: 'btn btn-warning', data: { confirm: "Are you sure?" } %>
        </div>
      </div>
      <div class="card my-2">
        <div class="card-body">
          <h4 class="card-title">Close Mailbox</h4>
          <p class="card-text">This will render all forms using your <%= Mailbox.human_attribute_name :api_key %> unusable. This action is cannot be reversed!</p>
          <%= link_to 'Delete Mailbox', current_mailbox_path, method: :delete, data: { confirm: 'This action cannot be reversed! Are you sure?' }, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  </div>
</main>